// Authers
$white-text: #ffffff;
$auther-bg: #ffffff;
$auther-name: #0050ef;
$auther-bg-btn: rgba(0, 80, 239, 0.06);
$auther-bg-hover: rgba(0, 80, 239, 0.2);
$auther-date: #10b2d0;
// Titles
$title-text: #888888;
