@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
  }
}
.contacts {
  display: flex;
  color: #888888;

  &__email {
    margin-left: 40px;
  }
}
.info-slider {
  padding-bottom: 181px;
  padding-top: 100px;
  // background: linear-gradient(100.68deg, #5991ff 13.6%, #0050ef 94.69%);
  background-image: url('../images/bg-main.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  span {
    display: block;
  }
  &__title {
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    line-height: 56px;
    max-width: 580px;
    margin-bottom: 24px;
  }
  &__descr {
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 480px;
  }

  &__btn {
    color: #0050ef;
    padding: 16px 32px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 130px;
    font-weight: 600;
    line-height: 19px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}
.main {
  background-color: #f7f9ff;
}
.titles {
  padding-top: 40px;

  &__search {
    color: #888888;
    display: flex;
    font-weight: 600;
    margin-bottom: 56px;
  }

  .prices {
    color: #888888;
    margin-left: 20px;
    display: inline-block;
    width: 336px;
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    &__minus {
      display: inline-block;
      height: 15px;
    }

    input {
      display: inline-block;
      max-width: 132px;
      border: none;
      outline: none;
    }
  }
}

.select-wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 10px;

  &::after {
    content: '';
    display: block;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 30%;
    right: 16px;
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
  &::before {
    content: '';
    background-image: url('../images/user.svg');
    width: 20px;
    height: 20px;
    top: 30%;
    left: 16px;

    position: absolute;
  }

  select {
    margin-left: 30px;
    cursor: pointer;
    padding: 16px;
    width: 335px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    color: #888888;
    border: none;
    border-radius: 10px;
    &:focus {
      outline: none;
    }
  }
}

.titles__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 60px;
  &-item {
    background: #ffffff;
    border-radius: 20px;
    padding: 24px;
    width: 572px;
    margin-bottom: 20px;
  }
  &-date {
    color: #10b2d0;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 8px;
  }
  &-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.65);
  }
  &-text {
    color: #888888;
    margin-bottom: 24px;
  }

  &-auther {
    color: #0050ef;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    background-color: rgba(0, 80, 239, 0.06);
    border-radius: 10px;
    padding: 8px 20px;
    &:hover {
      background-color: rgba(0, 80, 239, 0.2);
    }
  }
}
.footer {
  padding: 48px 0 48px;
  background-color: #011846;
  color: #ffffff;
  &__additionally {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }
  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-comapny {
      font-size: 14px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.6);
    }
    &-link {
      font-weight: 500;
      line-height: 20px;
      margin-left: 16px;
    }
    &-networks {
      display: flex;
    }
  }
  &__info-link + &__info-link {
    margin-left: 48px;
  }
}
.slider .slick-dots {
  left: 0;
}
.slick-dots {
  position: absolute;
  bottom: -146px;
  display: flex;
  button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    height: 3px;
    width: 29px;
    cursor: pointer;
    &:hover {
      background-color: #fff;
    }
  }
}
.slick-dots li + li {
  margin-left: 6px;
}
.slider {
  flex-basis: 574px;
}
.slick-active button {
  background-color: #fff;
}
